* {
    margin: auto;
}

.header {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    height: 100px;
    border: solid 2px;
    color: lightgoldenrodyellow;
}
 .logo-header {

    height: 90px;
    width: 90px;
    position: relative;
 }


.imggrp {
    margin-top: 2%;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
}



a {

text-decoration: none;
color: black;
font-family: 'Phudu', sans-serif;
font-size: 30px;

}



body {
    background-color: #00A08F;
}

button{
display: flex;
justify-content: center;
margin-top: 6%;
height: 5rem;
width: 25rem;
border-radius: 45px;
border-color: black;
background-color: #FAF5C0;


}



.about-us{
background-color: rgba(249, 241, 222, 0.656);
margin-top: 5%;
border: black;
margin-top: 2%;
margin-left: 6%;
margin-right: 6%;
height: 600px;





}
.titre {
font-size: 40px;
display: flex;
justify-content: center;
font-family: 'Phudu', sans-serif;
font-weight: 800;
margin-top: 8%;
}

.texteprez {

    font-size: 25px;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;

}

footer {
    background-color: #FAF5C0;
    height: 200px;
    width: 100%;
    margin-top: 10%;
    display: flex;
    font-family: 'Phudu', sans-serif;
    align-items: center;

}
p {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
   
}

