body {
  background-color: #00a08f;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  height: 100px;
  border: solid 2px;
  color: lightgoldenrodyellow;
}

.logo-header {
  height: 90px;
  width: 90px;
  position: relative;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Phudu", sans-serif;
  font-size: 30px;
  margin: auto;
}

.title {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 10%;
  font-family: "Phudu", sans-serif;
  font-weight: 800;
}

.about-us-paragraph {
  font-size: 19px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.cards {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.research {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: 400px;
  height: 150px;
  border: solid 2px;
  border-radius: 20%;
  box-shadow: black;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 400px;
  height: 150px;
  border: solid 2px;
  border-radius: 20%;
  box-shadow: black;
}

.share {
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 235, 163);
  width: 400px;
  height: 150px;
  border: solid 2px;
  border-radius: 20%;
  box-shadow: black;
}

.videos {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin: auto;
}
.video {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin: auto;
}

.entete {
  font-size: 30px;
  font-family: "Phudu", sans-serif;
  text-decoration: underline overline;
  margin-bottom: 0;
  margin: auto;
  margin-top: 3%;
}
footer {
  background-color: #faf5c0;
  height: 100px;
  width: 100%;
  display: flex;
  font-family: "Phudu", sans-serif;
  align-items: center;
  margin: auto;
  margin-top: 10%;
}

.txt-entete {
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.paragraphe {
  margin-left: 3%;
  margin-right: 3%;
  line-height: 25px;
}

.paragraphe2 {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  line-height: 25px;
}

.list {
  margin-top: 3%;
  margin-left: 5%;
  font-size: 20px;
}

.recommendations {
  margin-top: 3%;
  margin-left: 5%;
  font-size: 22px;
  text-decoration: underline;
}

button {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  height: 5rem;
  width: 25rem;
  border-radius: 45px;
  border-color: black;
  background-color: #faf5c0;
  margin-left: auto;
  margin-right: auto;
}

.about-us {
  background-color: rgba(249, 241, 222, 0.656);
  margin-top: 3%;
  border: black;
  margin-left: 6%;
  margin-right: 6%;
  height: 250px;
}

.footer-paragraph {
  margin: auto;
}
