*{
    margin:auto;

}

body {
    background-color: #00A08F;
}

.header {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        height: 100px;
        border: solid 2px;
        color: lightgoldenrodyellow;

}

.logo-header {

    height: 90px;
    width: 90px;
    position: relative;
 }
a {

    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
    }

 .logo-home { 

    height: 300px;
    width: 300px;
    margin-top: 5%;
 }

 .logo {

    height: 60px;
    width: 60px;
 }