body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,body,#container,#map-div {
  height:100%;
  min-height:100%;
  max-height:100%;
}

html,body,#container,#map-div {
  height:100%;
  min-height:100%;
  max-height:100%;
}

#logo {
  background-color: #F4F2F2;
  border-bottom-right-radius: 60%;
  max-width: 7em;
  position: absolute;
  z-index: 1;
}

#logoSidebar {
  max-width: 5em;
  position: absolute;
  bottom: 0;
  left: 5px;
  padding: 30px;
}

h3 {
  
  text-align: center;
}

h4 {
  font-size: large;
  padding-left: 10px;
}

.toggleButtons{
  background-color: #3378aa;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  border: none;
  box-shadow: #333;
  font-weight: 700;
  height: 5%;
  width: 75%;
  margin-bottom: 10%;
}

.toggleButtons:hover{
  background-color: #fff;
  color: #3378aa;
  border: 1px solid #3378aa;
}


.toggle-first-theme:hover {
  background-color: #fff;
  cursor: pointer;
}

.toggle-first-theme h4, .toggle-first-theme i {
  display: inline-block;
}

nav {
  display: none;
}

/*Sidebar for buttons */
.sidebar, .sidebar-animals, .sidebar-zones {
  width: 150px;
  z-index: 3;
  background-color: #F4F2F2;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  text-align: center;
}

.toggle-sidebar-animals {
  position: absolute;
  z-index: 2;
  top: 300px;
  left: 0;
  cursor: pointer;
  background-color: #3378aa;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toggle-sidebar-zones {
  position: absolute;
  z-index: 2;
  top: 400px;
  left: 0;
  cursor: pointer;
  background-color: #3378aa;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.fa-layer-group, .fa-fish, .fa-map-marked-alt, .fa-waveform {
  color: #fff;
  font-size: 30px;
  padding: 20px;
}


.show-sidebar, .show-sidebar-animals, .show-sidebar-zones, .show-sidebar-noise-impactors {
  display: block;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}



.click-toggle {
  left: 150px;
}

.toggle-animals {
  left: 150px;
}

.toggle-zones {
  left: 150px;
}

.toggle-noise-impactors {
  left: 150px;
}

.click-toggle-theme {
  background-color: #fff;
}

.show-first-theme {
  display: block;
}

/*Buttons */
#menu-animals, #menu-zones {
  z-index: 1;
  top: 10px;
  left: 10px;
  font-family: "Open Sans", sans-serif;
}

#menu-animals a, #menu-zones a {
  font-size: 20x;
  border-radius: 10px;
  color: #404040;
  display: block;
  margin: 10px 20px;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu-animals a:hover, #menu-zones a:hover {
  background-color: #ececec78;
  color: #000000;
}

#menu-animals a.active, #menu-zones a.active {
  background-color: #3887be;
  color: #1b1a1a;
}

#menu-animals a.active:hover, #menu-zones a.active:hover {
  background: #3074a4;
}

.mapboxgl-ctrl-top-right {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
}


#container {
  display: flex;
  flex-direction: column;
}

#top {
  flex: 0 0 auto;
  text-align: center;
  background-color: #F4F2F2;
  padding: 1% 0 1% 0;
}

#top a {
  font-size: 20px;
  color: #404040;
  display: inline;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  padding-right: 14px;
}

#top a:nth-of-type(1), #top a:nth-of-type(2), #top a:nth-of-type(3) {
  border-right: 1px solid;
}

#bottom {
  flex: 1 1 auto;
  display: flex;
}

#left-container {
  flex: 1 1 70%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

#right-container {
  flex: 1 1 30%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}


#right-container > div:first-child {
  /* This element should take up 60% of the container's height */
  flex: 5 0 50%;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#right-container > div:last-child {
  /* This element should take up the remaining 40% of the container's height */
  flex: 5 0 50%;
  border-left: 1px solid #ccc;
}

button {
  /* Use a consistent font, color, and size for all buttons */
  font-family: sans-serif;
  color: #333;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Use a button-specific class to style the buttons */
button.nice-button {
  /* Set the button's background color and add some padding */
  background-color: #eee;
  padding: 10px 20px;
}
/* Use the :hover and :active pseudo-classes to add hover and active styles */
nice-button:hover {
  background-color: #ddd;
}
nice-button:active {
  background-color: #ccc;
}

#about-CriQUIET {
  display: flex;
  flex-direction: row;
}

.about-us-column {
  flex: 1;
}

/* Page a propos */
#first-section-propos {
  background-image: url("../img/wallpaper_hackathon.jpg");
  width: 70%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 12px;
  margin: 100px auto;
}

#first-section-propos-content {
  text-align: center;
}

h1 {
  color: black;
  font-size: 50px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  
}

h2 {
  color: black;
  font-size: 30px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  
}

#first-section-propos-content h2 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#first-section-propos-content, #second-section-propos-content p {
  color: white;
  font-size: 20px;
  
}

.grid-item:nth-of-type(2), .grid-item:nth-of-type(3) {
  border-left: 2px solid white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#second-section-propos {
  background-color: #0077b6;
  width: 70%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 12px;
  margin: 100px auto;
  padding: 50px 0 50px 0;
}

#second-section-propos-content {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  color: white;
}

#first-section-contributions{
  background-color: #0077b6;
  width: 20%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 12px;
  margin: 70px auto;
}

#first-section-contributions-content{
  text-align: center;
  font-size: 20px;
  color: white;
}

#second-section-contributions{
  background-color: #0077b6;
  width: 70%;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 12px;
  margin: 100px auto;
}

#contributions-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

#contributions-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}

#contributions-grid-item:nth-of-type(2), #contributions-grid-item:nth-of-type(3) {
  border-left: 2px solid white;
}

#g-fish i {
  font-size: 20px;
  color: green;
}

#y-fish i {
  font-size: 20px;
  color: yellow;
}

#r-fish i {
  font-size: 20px;
  color: red;
}

tr {
  text-align: center;
  align-items: center;
}

td {
  border-bottom: 2px solid black;
  border-left: 2px solid black;;
}


#dialog-box {
  display: block;
  position: absolute; /* position the element absolutely */
  top: 50%; /* set the top position to the middle of the page */
  left: 25%;
  margin: auto auto; 
  text-align: center; /* center the text within the box */
  width: 50%; /* set the width of the element */
  height: auto; /* set the height of the element */
  padding: 20px; /* add some padding to the element */
  border: 1px solid #333; /* add a border to the element */
  background-color: #fff; /* set the background color of the element */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add a box shadow to the element */
  z-index: 4; /* position the element above the page background */
}

.loading-bar {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}